<% layout('/layouts/boilerplate')%>
  
    <h1> <%= campground.title %> </h1>
    <h2> <%= campground.location %> </h2>
    <h2> <img src = "https://source.unsplash.com/collection/429524">  </h2>
    <p>
        <form action="/campgrounds/<%=campground.id%>?_method=DELETE" method="POST">
            <button>Delete!</button>
        </form>
    </p>

    <footer>
        <a href="/campgrounds/<%= campground.id %>/edit/"> Edit this campground </a>
    </footer>

    <a href="/campgrounds"> All Campgrounds </a>
